<!DOCTYPE html>
<html>
<head>
    <title>Swiss Padel Stars</title>
    <link rel="icon" type="image/x-icon" href="build/images/favi.ico">
    {{ encore_entry_link_tags('app') }}
</head>
<body id="root">
    {{ encore_entry_script_tags('app') }}
</body>
</html>